* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-weight: 400;
}

ul {
    list-style: none;
}

#canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto 16px;
}

.container {
    margin: 40px auto;
    max-width: 1280px;
}

.input-list {
    display: flex;
    justify-content: center;
    margin: 0 auto 12px;
}

.input-list li {
    margin: 0 12px;
}

.input-color {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 20px;
    position: relative;
    width: 20px;
}

.input-color input {
    cursor: pointer;
    height: 0px;
    opacity: 0;
    width: 0px;
}

.input-color input + span::before {
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    transition: all .2s;
    width: 100%;
}

.input-color input:hover + span::before {
    opacity: 0.9;
} 

.input-color input:checked + span::before {
    opacity: 1;
}

.input-color.black input + span::before {
    background-color: black;
}

.input-color.red input + span::before {
    background-color: red;
}

.input-color.blue input + span::before {
    background-color: blue;
}

.input-color.green input + span::before {
    background-color: green;
}

.input-color.purple input + span::before {
    background-color: purple;
}

.input-size {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 20px;
    position: relative;
    width: 20px;
}

.input-size input {
    cursor: pointer;
    height: 0px;
    opacity: 0;
    width: 0px;
}

.input-size input + span::before {
    align-items: center;
    background-color: transparent;
    border: 1px solid gray;
    content: "";
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transition: all .2s;
    width: 100%;
}

.input-size input:checked + span::before {
    background-color: SkyBlue;
    border-color: SkyBlue;
    color: #FFF;
}

.input-size input:hover + span::before {
    background-color: SkyBlue;
    border-color: SkyBlue;
    color: #FFF;
    font-family: serif;
}

.input-size.small input + span::before {
    content: "s";
}

.input-size.mid input + span::before {
    content: "m";
}

.input-size.large input + span::before {
    content: "l";
}

.btn-group {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.btn {
    background: #FFF;
    border: 1px solid gray;
    cursor: pointer;
    margin: 0 4px;
    padding: 4px 12px;
    transition: all .2s;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background: SkyBlue;
    border-color: SkyBlue;
    color: #FFF;
}